:root {
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  font-size: 18px;
  transition: background 0.3s ease, color 0.3s ease;
}

body.dark {
  background-color: var(--Very-Dark-Blue);
}

body.light {
  background-color: var(--Very-Light-Gray);
}

main {
  max-width: 90rem;
  min-height: 100vh;
  margin-inline: auto;

  background-repeat: no-repeat;

  padding-top: 4.7rem;
}

.title-container {
  max-width: 540px;
  display: flex;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
}

.title {
  letter-spacing: 1.16rem;
  font-weight: 700;
  color: var(--Very-Light-Gray);
}

#themeToggle {
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.todo-section {
  max-width: 540px;
  margin-inline: auto;
  border: 5px solid green;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #fff;
  border-radius: 5px;
  border: 5px solid red;
}

.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid green;
  margin-left: 2rem;
  
}

#todoInput {
  width: 100%;
  padding: 1rem 1rem 2rem 0;
  border: none;
  border: 2px solid black;
  border-radius: 5px;
}